h1{
  margin: 0;
  font-size: 23px;
  font-weight: normal;
}
h2{
  font-weight: normal;
  color: #6F6F6F; /*376447*/
  display:inline !important;
}
h3{
  font-weight: normal;
  font-size: 14px;
  line-height: 50%;
}

div.olive_au{
   font-family: 'century gothic', 'lucinda grande', Arial, verdana, helvetica, sans-serif;   
   margin: 0;
   height: 70px;
   color: #E18700;
   font-size: 60px;
   width: 100%;
}

div.olive_au a{
   color: #E18700;
   text-decoration: none;
}

div.top_header{
   margin: 0 60px 0 60px;
}
div.top_header_menu{
}

div.content{
   line-height: 140%;
   position: relative;
   margin: 15px 70px 10px 60px;
   clear: both;
   height: 100%;
}

div.footer{
    padding: 15px 0 0 0;
    clear: both;
    position: relative;
    height:50px;
}

a{
   color: #5F5F5F;
}

a:hover
{
   color: #984807;
}

div.footer_content{
   margin: 10px 50px 0 50px;
}

div.about_me_big{
   float: left;
   margin: 10px 0px 10px 10px;
   padding: 10px;
   width: 260px;
   height: 230px;
   font-family: 'PrintClearlyRegular','century gothic', 'lucinda grande', Arial, verdana, helvetica, sans-serif;   
   font-size: 28px;
   line-height: 30px;
}

body{
/*   background-color: #FDFDFD;*/
/*   background-color: #FFFFFF;*/
   /*background-image:url('tex2res5_2.png');*/
   /*opacity:0.4;*/
   /*filter:alpha(opacity=40);*/ /* For IE8 and earlier */
}

div.sub_header{
   font-family: 'century gothic', 'lucinda grande', Arial, verdana, helvetica, sans-serif;   
   float: left;
   color: #6F6F6F; /*376447*/
   font-size: 18px;
   height: 25px;
}

.highlight{
   color: #E18700;
   font-weight: bold;
}

div.menu{
   float: right;
}

div.page_container{
   height: 100%;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 14px;
   width: 990px;
   margin: 0 auto;
}

.gradientH{
   clear:both;
   height: 1px;
   margin: 0 70px 0 0;
/* thanks to http://blog.fakedarren.com/2010/01/cross-browser-css-gradients/ */
/* and http://www.puremango.co.uk/2010/04/css-gradient/ */
    /* fallback (Opera) */
    background: #D9D9D9;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #000000, #D9D9D9);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, to(#D9D9D9), from(#000000));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#000000', EndColorStr='#D9D9D9', GradientType=1);
}

.gradientHbottom{
   clear:both;
   height: 1px;
   margin: 0 0 0 70px;
/* thanks to http://blog.fakedarren.com/2010/01/cross-browser-css-gradients/ */
/* and http://www.puremango.co.uk/2010/04/css-gradient/ */
    /* fallback (Opera) */
    background: #D9D9D9;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #D9D9D9, #000000);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, to(#000000), from(#D9D9D9));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#D9D9D9', EndColorStr='#000000', GradientType=1);
}

.gradientV{
   position: absolute;
   left: -20px;
   top: -130px;
   height: 300px;
   width: 1px;
   clear: both;
/* thanks to http://blog.fakedarren.com/2010/01/cross-browser-css-gradients/ */
/* and http://www.puremango.co.uk/2010/04/css-gradient/ */
    /* fallback (Opera) */
    background: #D9D9D9;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #000000, #D9D9D9);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#000000), to(#D9D9D9));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#000000', EndColorStr='#D9D9D9', GradientType=0);
}

.gradientVbottom{
   position: absolute;
   top: -260px;
   right: 50px;
   height: 300px;
   width: 1px;
   clear: both;
/* thanks to http://blog.fakedarren.com/2010/01/cross-browser-css-gradients/ */
/* and http://www.puremango.co.uk/2010/04/css-gradient/ */
    /* fallback (Opera) */
    background: #D9D9D9;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #D9D9D9, #000000);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#D9D9D9), to(#000000));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#D9D9D9', EndColorStr='#000000', GradientType=0);
}


