div.image_slider{
    width: 100%;
    height: 100px; 
    overflow-y: none;
    overflow-x: auto;
}

div.image_slider_item{
    height: 75px;
    width: 100px;
    float: left;
    padding: 2px;
    border: 2px solid white;
}

div.image_slider_item:hover{
    border: 2px solid #595959;
}

div.image_slider_item:hover{
    cursor: pointer;
}

div.image_set_main{
    margin: 0 0 0 4px;
}